@charset "UTF-8";

/*-----------------------------Переменные START-----------------------------*/

/*-----------------------------Переменные END-----------------------------*/

.tag {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tag__container .posts__container {
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 50px;
}

.tag__container .post {
    margin: 0;
}

.tag__container .post:nth-of-type(17),
.tag__container .post:nth-of-type(18) {
    display: -ms-grid;
    display: grid;
}

.tag-title {
    margin: 0 0 20px 0;
}

.tag-title h1 {
    font-size: 44px;
    text-wrap: balance;
}

@media (max-width: 1200px) {
    .tag-title h1 {
        font-size: 38px;
    }
}

@media (max-width: 992px) {
    .tag__container .post:nth-of-type(18n+1),
  .tag__container .post:nth-of-type(18n+6),
  .tag__container .post:nth-of-type(18n+11),
  .tag__container .post:nth-of-type(18n+16) {
        -ms-grid-column-span: 12;
        grid-column: span 12;
    }

    .tag__container .post:nth-of-type(18n+1) .post-picture__container,
  .tag__container .post:nth-of-type(18n+6) .post-picture__container,
  .tag__container .post:nth-of-type(18n+11) .post-picture__container,
  .tag__container .post:nth-of-type(18n+16) .post-picture__container {
        height: 300px;
    }

    .tag__container .post:not(:nth-of-type(18n+1)):not(:nth-of-type(18n+6)):not(:nth-of-type(18n+11)):not(:nth-of-type(18n+16)) {
        -ms-grid-column-span: 6;
        grid-column: span 6;
    }

    .tag__container .post:not(:nth-of-type(18n+1)):not(:nth-of-type(18n+6)):not(:nth-of-type(18n+11)):not(:nth-of-type(18n+16)) .post-picture__container {
        height: auto;
    }

    .tag-title {
        margin: 0 0 15px;
    }

    .tag-title h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .tag__container .post {
        margin: 0 0 50px;
    }

    .tag-title {
        margin: 0 25px 10px 0;
    }

    .tag-title h1 {
        font-size: 28px;
    }
}