@charset "UTF-8";

/*-----------------------------Переменные START-----------------------------*/

/*-----------------------------Переменные END-----------------------------*/

.tags {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tags-title {
    margin: 0 0 20px 0;
}

.tags-title h1 {
    font-size: 44px;
    text-wrap: balance;
}

.tags-items__container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    row-gap: 50px;
}

.tag-item {
    -ms-grid-column-span: 3;
    grid-column: 3 span;
}

.tag-item a {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.tag-item-picture {
    margin: 0 30px 0 0;
}

.tag-item-picture__container {
    border-radius: 20px;
}

.tag-item-picture__container img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.tag-item-title {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.tag-item-title__container {
    color: #121212;
}

@media (max-width: 1200px) {
    .tags-title h1 {
        font-size: 38px;
    }
}

@media (max-width: 992px) {
    .tags-title {
        margin: 0 0 15px;
    }

    .tags-title h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .tags-title {
        margin: 0 25px 10px 0;
    }

    .tags-title h1 {
        font-size: 28px;
    }

    .tags-items__container {
        row-gap: 30px;
    }
}

@media (any-hover: hover) {
    .tag-item a:hover img {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    }

    .tag-item a:hover h2 {
        opacity: 0.7;
    }
}